table {
    width: 100%;
}
.mat-tab-group {
    margin-bottom: 48px;
  }

  .mat-column{
    width: 25%;
  }

  .spacer {
    flex: 1 1 auto;
  }

.dashboard{
    padding: 1%;
}

.spinner{
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 50%;
}