.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

.login{
    text-align: center;
    margin: auto;
    width: 50%;
}

.spinner{
  text-align: center;
  margin: auto;
  margin-top: 5%;
  width: 50%;
}